body {
    background-color: lightblue;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

div.header {
    background-color: #F5E8C7;
    color: #864AF9;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8px;
    font-size: 16px;
    height: 20%;
    padding-bottom: 15px;
}
div.content {
    background-color: lightcyan;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
}
a {
    color: chocolate;
    padding: 9px;
    font-size: 2em;
    text-decoration: none;
}
.registration {
    display: inline-block;
    margin-right: 20px;
    float: right;
    background-color: #ffdc78;
}
a:hover {
    color: #3E3232;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
p {
    font-size: 1.5em;
}
li {
    font-size: 2em;
}
form {
    text-align: right;
    padding-right: 40%;
    padding-bottom: 20px;
}