body {
    background-color: burlywood;
    margin: 0;
}

div.header {
    background-color: darkslategray;
    color: whitesmoke;
    margin: 0;
}
a {
    color: chocolate;
    font-size: large;
    padding: 9px;
}
h1 {
    margin-top: 0;
}