body {
    background-color: #3E3232;
    margin: 0;
}

div.header {
    background-color: #F5E8C7;
    color: #864AF9;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}
div.content {
    background-color: #FDAF7B;
    margin-left: 10%;
    margin-right: 10%;
}
a {
    color: chocolate;
    padding: 9px;
    font-size: 2em;
    text-decoration: none;
}
a:hover {
    color: #3E3232;
}
h1 {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
}
p {
    font-size: 1.5em;
}
li {
    font-size: 2em;
}