{% extends 'main.html' %}
{% block content %}
    <h2>Kawiarni</h2>
    {% for shop in shops %}
        <a href="{% url 'shop_details' shop.id %}"><h3>{{ shop.name }}</h3></a>
        <p class="description">{{ shop.description }} <br>
        {% if user_is_admin %}
            <a class="edit_link" href="{% url 'update_cafe' shop.id %}">Edytować</a>
            <a class="delete_link" href="{% url 'delete_cafe' shop.id %}">Usunąć</a>
        {% endif %}
        </p>
    {% endfor %}
    {% if user_is_admin %}
        <p><a href="{% url 'add_coffeehouse' %}">Dodaj kawiarnie</a></p>
    {% endif %}
{% endblock %}