{% extends 'main.html' %}
{% block content %}
    <div>
        <a href="{% url 'list_of_drinks' %}">Napoje</a>
        <a href="{% url 'list_of_desserts' %}">Desery</a>
        <a href="{% url 'shops_list' %}">Kawiarni</a>
    </div>
    {% for dessert in desserts %}
        <h2>{{ dessert.name }}</h2>
        <p>{{ dessert.description }}</p>
        <p>{{ dessert.composition }}</p>
        <a class="edit_link" href="{% url 'update_dessert' dessert.id %}">Edytować</a>
        <a class="delete_link" href="">Usunąć</a>
    {% endfor %}
    <p><a class="add_link" href="{% url 'add_dessert' %}">Dodaj deser</a></p>
{% endblock %}