{% extends 'main.html' %}
{% block content %}
    <div>
        <a href="{% url 'shop_details' shop.id %}">Strona kawiarni</a>
        <a href="{% url 'menu_drinks' shop.id %}">Napoje</a>
        <a href="{% url 'menu_desserts' shop.id %}">Desery</a>
        <a href="{% url 'add_feedback' shop.id %}">Opinii</a>
        <a href="{% url 'contacts' shop.id %}">Kontakty</a>
    </div>
    <div>
        <h2>Lista napojów {{ shop.name }}</h2>
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Typ napoju</th>
            </tr>
            {% for drink in drinks %}
                <tr>
                    <td><a href="{% url 'add_favorite_drink' drink.id %}">{{ drink.name }}</a></td>
                    <td>{{ drink.price }}</td>
                    {% if drink.type_is_hot %}
                    <td>Gorący napój</td>
                    {% else %}
                    <td>Zimny napój</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}